In [1]:
#Stock Price Time Series Example

In [7]:
from bokeh.plotting import figure, output_file, show
import pandas

df=pandas.read_csv("adbe.csv",parse_dates=["Date"])

In [8]:
df.head()

        Date   Open   High    Low  Close   Volume
0 2012-08-02  30.46  30.83  30.25  30.58  2639980
1 2012-08-01  31.05  31.17  30.64  30.69  2738740
2 2012-07-31  30.99  31.27  30.84  30.88  2662853
3 2012-07-30  31.89  31.95  30.92  31.01  4261193
4 2012-07-27  31.26  32.00  31.17  31.90  3312890

In [17]:
p=figure(width=500,height=250,x_axis_type="datetime",sizing_mode="scale_both")
p.line(df["Date"],df["Close"],color="Orange",alpha=0.5)

output_file("TimeSeries.html")
show(p)