In [1]:
print("Hello world")

Hello world

In [3]:
age=30
print(age)
print(30)

30
30

In [5]:
name_underscore=20
print(name_underscore)

age/name_underscore

20

1.5

In [6]:
#INTEGERS
age=35
#FLOAT
PI=3.14159


math_operations = 1 +3 * 4 /2 -2


#Division always results in a float
print(math_operations)


#Gets rid of decimal
integer_division = 12 //3
integer_division

integer_division = 13//5

print(integer_division)

5.0
2

In [8]:
#how to get the remainder
remainder = 13 % 5 # (%) percent sign is the modulus
remainder
print(remainder)

3

In [9]:
13/5

2.6

In [10]:
#Check if number is odd/even
x=37
remainder = x % 2
print(remainder)

1

In [11]:
my_string="Hello, world!"
print(my_string)

string_with_quotes="Hello, it's me"
print(string_with_quotes)

another_example='He said "You are amazing!"'
print(another_example)

multiline="""
My name is Jon.  Welcome to my program.
"""
print(multiline)

Hello, world!
Hello, it's me
He said "You are amazing!"

My name is Jon.  Welcome to my program.

In [12]:
multi="My name is Jon.  Welcome to my program"
print(multi)

name="Jon"
print("Hello, "+name)


age=34
age_as_str=str(age)
print("You are "+age_as_str)

print(f"You are {age}")

My name is Jon.  Welcome to my program
Hello, Jon
You are 34
You are 34

In [13]:
name = "Jon"
greeting = f"How are, {name}?"
print(greeting)

How are, Jon?

In [14]:
greeting="How are you, "
greeting+ name

'How are you, Jon'

In [15]:
name="Jessica"
final_greeting = "How are you, {}?"
jon_greeting = final_greeting.format(name)
print(jon_greeting)

How are you, Jessica?

In [16]:
name="Jessica"
final_greeting = "How are you, {}?"
jon_greeting = final_greeting.format(name)
print(jon_greeting)

How are you, Jessica?

In [17]:
my_name="Jon"
your_name=input("Enter your name: ")
print("Hello "+your_name+". My name is "+ my_name)

Enter your name: Amelia
Hello Amelia. My name is Jon

In [18]:
age=input("Enter your age: ")
age_num=int(age)
print("You have lived for "+str((age_num*12))+" months")

Enter your age: 30
You have lived for 360 months

In [19]:
#INPUT executed first and then numeric conversion
age=int(input("Enter your age: "))
print("You have lived for "+str(age*12)+" months")

Enter your age: 30
You have lived for 360 months

In [20]:
age=int(input("Enter your age: "))
months=age*12
print("You have lived for "+str(age*12)+" months")

Enter your age: 30
You have lived for 360 months

In [21]:
age=int(input("Enter your age: "))
print(age)

Enter your age: 30
30

In [22]:
truthy=True
fasly=False

In [23]:
age=20
is_over_age = age >=10
print(is_over_age)

is_under_age = age <10
print(is_under_age)

is_twenty = age==20
print(is_twenty)

True
False
True

In [25]:
my_number = 5
user_number = int(input("Enter a number: "))
matches=my_number==user_number
print("You got it right: "+ str(matches))

Enter a number: 2
You got it right: False

In [27]:
age=int(input("Enter your age: "))
can_learn_programming = str(age >0 and age < 150)
print("You can learn programming: "+can_learn_programming)

Enter your age: 200
You can learn programming: False

In [28]:
age=int(input("Enter your age: "))
usually_working = age >= 18 and age <= 65
print("At "+ str(age)+", you are usually working: "+ str(usually_working))

Enter your age: 70
At 70, you are usually working: False

In [29]:
print(bool(35))
print(bool(""))
print(bool(0))

True
False
False

In [30]:
x=True and False
print(x)

x=35 and 0
print(x)

False
0

In [31]:
name =input("Enter your name: ")
surname=input("Enter your surname: ")
greeting=name or "Mr. "+ surname
print(greeting)

Enter your name: Jon
Enter your surname: Zimmerman
Jon

In [32]:
print(not True)
print(not False)

False
True

In [33]:
#Lists
friend1="Rolf"
friend2="Bob"
friend3="Anne"
print(friend1)
print(friend2)
print(friend3)
#this is not the best way to do this

Rolf
Bob
Anne

In [34]:
#better if you create a list
friends1 = ["Rolf","Bob","Anne"]
print(friends1)
print(friends1[0])
print(friends1[1])

['Rolf', 'Bob', 'Anne']
Rolf
Bob

In [35]:
friends2=[["Rolf",24],["Bob",30],["Anne",27]]
print(friends2[0])
print(friends2[1][1])
print(friends2[2][0])

['Rolf', 24]
30
Anne

In [36]:
#to add to a list
friends1.append("Jen")
print(friends1)

['Rolf', 'Bob', 'Anne', 'Jen']

In [37]:
#friends1.remove("Bob")
print(friends1)

['Rolf', 'Bob', 'Anne', 'Jen']

In [38]:

#friends2.remove(["Anne",27])
print(friends2)

[['Rolf', 24], ['Bob', 30], ['Anne', 27]]

In [43]:
#TUPLES
short_tuple="Rolf","Bob"
a_bit_clearer=("Rolf","Bob")
tuple_in_List=[("Rolf","Bob")]
not_a_tuple="Rolf"
not_a_tuple="Rolf"

In [44]:
friends=("Rolf","Bob","Anne")
friends.append("Jen")
#can not append to a tuple

AttributeError: 'tuple' object has no attribute 'append'

In [48]:
#to work around this --> add 2 tuples together
friends=("Rolf","Bob","Anne")
print(friends)
friends=friends+("Jen",)
print(friends)

('Rolf', 'Bob', 'Anne')
('Rolf', 'Bob', 'Anne', 'Jen')

In [60]:
#SETS
#sets do not hold order, do not have duplicates
art_friends={"Rolf","Anne"}
print(art_friends)
science_friends={"Jen","Charlie"}
art_friends.add("Jen")
print(art_friends)

{'Anne', 'Rolf'}
{'Jen', 'Anne', 'Rolf'}

In [61]:
art_friends.remove("Jen")
print(art_friends)

{'Anne', 'Rolf'}

In [63]:
art_friends={"Rolf","Anne","Jen"}
science_friends={"Jen","Charlie"}

art_but_not_science = art_friends.difference(science_friends)
print(art_but_not_science)

science_but_not_art = science_friends.difference(art_friends)
print(science_but_not_art)

{'Anne', 'Rolf'}
{'Charlie'}

In [64]:
not_in_both=art_friends.symmetric_difference(science_friends)
print(not_in_both)

{'Charlie', 'Anne', 'Rolf'}

In [67]:
art_and_science=art_friends.intersection(science_friends)
print(art_and_science)

{'Jen'}

In [69]:
all_friends=art_friends.union(science_friends)
print(all_friends)

{'Jen', 'Anne', 'Charlie', 'Rolf'}

In [82]:
#Dictionaries
#allows you to store keys and values

friend_ages={"Rolf":24,"Adam":30,"Anne":27}
#Key: Rolf
#Value: 24

print(friend_ages["Rolf"])
print(friend_ages["Anne"])

24
27

In [84]:
#Assign a value to a key in the dictionary (even if it doesnt exist yet)
friend_ages["Bob"]=20
friend_ages

{'Rolf': 24, 'Adam': 30, 'Anne': 27, 'Bob': 20}

In [85]:
#Change a key in dictionary
friend_ages["Rolf"] = 25
friend_ages
#Difference between dictionaries and sets --> dictionaries keep order, but still cant have dups

{'Rolf': 25, 'Adam': 30, 'Anne': 27, 'Bob': 20}

In [86]:
#Good Use Case for Dictionaries --> store information in a way that is easily retrievable

friends = (
    {"name": "Rolf Smith","age":24},
    {"name": "Adam Wool","age":30},
    {"name": "Anne Pun","age":27},

)

friends

({'name': 'Rolf Smith', 'age': 24},
 {'name': 'Adam Wool', 'age': 30},
 {'name': 'Anne Pun', 'age': 27})

In [88]:
#the above setup allows us to do this--> access first element, name
print(friends[0]["name"])

Rolf Smith

In [89]:
print(friends[2]["age"])

27

In [94]:
#Convert to dictionary
friends=[("Rolf",24),("Adam",30),("Anne",27)]
friend_ages=dict(friends)
print(friends)
print(friend_ages)
print(type(friends))
print(type(friend_ages))

[('Rolf', 24), ('Adam', 30), ('Anne', 27)]
{'Rolf': 24, 'Adam': 30, 'Anne': 27}
<class 'list'>
<class 'dict'>

In [96]:
#Length and Sum
grades=[80, 75, 90, 100]
total = sum(grades)
print(total)

345

In [99]:
length=len(grades)
print(length)

4

In [100]:
average=total/length
print(average)

86.25

In [101]:
#Which of these data structures is less ideal for grades?
grades=[80,75,90,100]#LIST
grades=(80,75,90,100)#TUPLE
grades={80,75,90,100}#SET

In [102]:
#tuple --> can not add new grades over time
#set --> worst choice, can not have duplicate values, cant have 2 100s
#GO WITH THE LIST!

In [127]:
lottery_numbers = {13, 21, 22, 5, 8}

players=[
    {"name": "Jon Zimmerman", "numbers": {13,21,22,5,69}},
    {"name": "Amelia Ayoob", "numbers": {13,21,22,5,8}}
]
     
print("Player "+players[0]["name"]+" got "+ str(len(lottery_numbers.intersection(players[0]["numbers"])))+" numbers right.")
print("Player "+players[1]["name"]+" got "+ str(len(lottery_numbers.intersection(players[1]["numbers"])))+" numbers right.")

Player Jon Zimmerman got 4 numbers right.
Player Amelia Ayoob got 5 numbers right.

In [129]:
#JOINS
friends=["Rolf","Anne","Charlie"]
print("My friends are "+ str(friends))

My friends are ['Rolf', 'Anne', 'Charlie']

In [133]:
comma_separated=", ".join(friends)
print(comma_separated)
print("My friends are "+comma_separated)

Rolf, Anne, Charlie
My friends are Rolf, Anne, Charlie

In [134]:
comma_separated="& ".join(friends)
print(comma_separated)
print("My friends are "+comma_separated)

Rolf& Anne& Charlie
My friends are Rolf& Anne& Charlie