In [1]:
def greet():
    print("Hello")
   

#no output like this below   
greet

In [2]:
hello=greet
print(hello)
hello()

<function greet at 0x1047c3440>
Hello

In [3]:
def average(seq):
    return sum(seq)/len(seq)

In [5]:
list=[0,1,2,3]
average(list)

1.5

In [6]:
#RECREATE AS LAMBDA FUNCTION
#avg = lambda seq: sum(seq) / len(seq)
#total = lambda seq: sum(seq)
#top = lambda seq: max(seq)
operations= {
    "average": lambda seq: sum(seq) / len(seq),
    "total": lambda seq: sum(seq),
    "top": max
}

students = [
    {"name": "Rolf", "grades": (67,90,95,100)},
    {"name": "Bob", "grades": (56,78,80,90)},
    {"name": "Jenn", "grades": (98,90,95,99)},
    {"name": "Anne", "grades": (100,100,95,100)}
]
for student in students:
    name = student["name"]
    grades=student["grades"]
   
    print("Student: "+ str(student))
    operation=input("Enter 'average', 'total', or 'top': ")
   
    operations_function = operations[operation]
    print(operations_function(grades))

Student: {'name': 'Rolf', 'grades': (67, 90, 95, 100)}
Enter 'average', 'total', or 'top': top
100
Student: {'name': 'Bob', 'grades': (56, 78, 80, 90)}
Enter 'average', 'total', or 'top': average
76.0
Student: {'name': 'Jenn', 'grades': (98, 90, 95, 99)}
Enter 'average', 'total', or 'top': total
382
Student: {'name': 'Anne', 'grades': (100, 100, 95, 100)}
Enter 'average', 'total', or 'top': total
395