#<font color='#e84118' >Variables

In [ ]:
x = "milk"
y = "wine"
z = "water"
print(x)
print(y)
print(z)

In [ ]:
container1 = 10
container2 = "wine"
container3 = "water"
print(container1)
print(container2)
print(container3)

10
wine
water

####<font color='#e84118' >Get data type

In [ ]:
print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

In [ ]:
print(type(container1))
print(type(container2))

<class 'int'>
<class 'str'>

####<font color='#e84118'> When to use single or double quotes?

In [ ]:
a = "milk"
# strings can be declared with any 
a = 'milk'

####<font color='#e84118'> Variables are Case sensitive

In [ ]:
g = "milk"
G = "wine"

#<font color='#00a8ff'> Lists

In [ ]:
grocery_list = ["milk", "tea", "bread"]
print(grocery_list)

['milk', 'tea', 'bread', 'milk']

#<font color='#00a8ff'> Duplicates

In [ ]:
grocery_list = ["milk", "tea", "bread","tea"]
print(grocery_list)

#<font color='#00a8ff'> Length

In [ ]:
grocery_list = ["milk", "tea", "bread","tea"]
print(len(grocery_list))

In [ ]:
student_record = ["john", "snow", "male","20"]
print(student_record)